html {
  background-color: #0f1217; /* Set background color to dark blue */
  color: white; /* Set text color to white */
  background-size: cover;
  background-blend-mode: multiply;
}
body {
  font-family: Catamaran;
  background: #202124;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  /* text-align: center; */
  padding: 10px;
  box-sizing: border-box;
  --font-color: #ffffff;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
}
header,
main,
footer {
  display: flex;
}

header {
  justify-content: end;
}

main {
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
}

main h1 {
  font-size: 34px;
}

five-habit-tracker {
  min-width: 250px;
  max-width: 800px;
}

.clock-section {
  width: 335px;
}

#about .mySocial {
  background: #ffffffa1;
  border-radius: 4px;
}
#about .mySocial a {
  display: inline-block;
  padding: 0 4px;
}
.mySocialInfo {
  font-size: 14px;
  color: var(--font-color);
  padding: 4px 10px;
  border-radius: 2px;
  margin-bottom: 4px;
}
.mySocialInfo a {
  color: var(--font-color);
}
#about .mySocial a i {
  font-size: 24px;
}
#about .mySocial a i.fa-linkedin {
  color: #0073b0;
}
#about .mySocial a i.fa-github {
  color: #24292e;
}
#about .mySocial a i.fa-twitter {
  color: #1da1f2;
}
#about .mySocial a i.fa-medium {
  color: black;
}
#bookmark-search-reset img,
#youtube-search-button img,
#google-search-button img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

#bookmark-search{
  width: 70%;
  height: 30px;
  vertical-align: middle;
  display: flex;
  position: relative;
  max-width: 350px;
  margin: 0 auto;
  background-color: #303134;
  color: #ffffff;
  border: none;
  flex-wrap: wrap;
  flex: 1;
  border: none;
  outline: none;
}

.bookmark-search-result-items {
  font-size: 16px;
}
#bookmark-search-input-area {
  border: 2px solid black;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  display: flex;
  border-radius: 10px;
  background-color: #303134;
  position: relative;
  max-width: 450px;
}

.bookmark {
  display: flex;
  align-items: center; 
  margin-bottom: 10px; 
}

.remove-bookmark {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.bookmark-self {
  display: flex;
  align-items: center;
  height: 40px;
}

.favicon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

#theme-selector {
  position: fixed;
  top: 10px; /* Sağ üst köşe */
  right: 10px;
  background-color: #121212;
  border: 1px solid black;
  padding: 5px;
}

#bookmark-search-result {
  display: grid;
  grid-template-columns: repeat(4, 250px); /* Her satırda 4 kart olacak ve her biri 250px genişliğinde */
  justify-content: center; /* Kartları yatayda ortalar */
  gap: 100px; /* Kartlar arasında 100 piksel boşluk */
  padding: 20px;
}

.bookmark-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #303134;
  width: 250px; /* Sabit genişlik */
  height: 250px; /* Sabit yükseklik */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.bookmark-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 10px;
  overflow: hidden; /* İçerik taşarsa gizle */
}

.bookmark-title {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* İki satırda kes */
  -webkit-box-orient: vertical;
}

.bookmark-search-result-items {
  text-decoration: none;
}

.remove-bookmark {
  position: absolute;
  top: 10px;
  right: 0;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.bookmark-summary {
  font-size: 12px;
  color: #ffffff;
  margin-top: 5px;
  text-align: left;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}

#bookmark-result-count {
  grid-column: span 4;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#youtube-search-button,
#google-search-button,
#bookmark-search-reset {
  background-color: #303134;
  border: none;
  outline: none;
}